# Ignore everything.  We'll whitelist what we want to pull in.
/*
/*/
/Mapgenerating/*


# Right directory
# Git meta files
!.gitignore
!.gitattributes
!README.md

# Whitelisted directories/files
!Mapgenerating/ProjectSettings/
!Mapgenerating/Assets/
